.col-6
{
  display: flex !important;
justify-content: center !important;
}

.font-heading
{
  position: relative;
  top: 10rem;

}

.h4 {
  font-weight: 600;
 font-size: 25px !important;
  color: #fff;
  border-bottom: 2px solid #eb3349;
  width: 240px;
  line-height: 1.4em;
}


@media (min-width: 1200px) {
    .col-xl-2 {
      
      width: 20%;
    }
  }


  @media (min-width: 1353px) {
    .col-xl-2 {
      
      width: 20%;
    }
  }

  @media (min-width: 1400px) {
    .col-xl-2 {
      
      width: 16.6666%;
    }
  }