/* Navbar.css */
.navbar {
  background-color: #0f2133;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
 
  border-bottom: 2px solid #eb3349;
  transition: opacity 0.5s ease, z-index 0.5s ease; /* Add transitions for opacity and z-index */
}

.visible {
  opacity: 1;
  z-index: 20; /* Make sure to set the same z-index as the visible state */
}

.hidden {
  opacity: 0;
  z-index: -20; /* Set a lower z-index for the hidden state */
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  
}

.nav-logo {
  color: #eb3349;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #eb3349;
}

.nav-item .active {
  color: #eb3349;
 
}

.nav-icon {
  display: none;
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
   z-index: 999999;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: rgb(88, 112, 125);
color : #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: none;

}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;

}


@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0f2133;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
   
  }
  .vegeta-logo{
    z-index: 200;
  }

  .nav-item .active {
    color: #eb3349;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }
  
  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #eb3349;
  }
}

@media screen and (max-width:540px){
  .weeb-logo
  {
 opacity: 0;
  }
  
}


@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 200px;
 
}
}
@media screen and (max-width: 526px)
{

  .searchBox:hover > .searchInput {
    width: 160px;
   
  }

  .weeb-logo
  {
    height: 0px !important;
  }
  .vegeta-logo
  {
    margin-bottom: 8rem;
    height: 100px !important;
  }
}
@media screen and (max-width: 480px)
{
  .searchBox:hover > .searchInput {
    width: 140px;
   
  }
}
@media screen and (max-width: 400px) {


  
  .searchBox:hover > .searchInput {
    width: 90px;
   
  }

 
  }