* {
  margin: 0;
  padding: 0;
 
 
}



body {
  background-color: #06121e;
  font-family: poppins,sans-serif;
  height: 100vh;

}

/* WebKit-based browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f100; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #f0465a; /* Background color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f0465a; /* Change color on hover */
}

/* Mozilla Firefox (may not work in all versions) */
* {
  scrollbar-width: thin; /* "auto" will show the native scrollbar (if available) */
  scrollbar-color: #f0465a #06060600;
 
}

*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}


.chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 95%;
  margin-left:2%;
}

.chat-darker {
  border-color: #ccc;
  background-color: #ddd;
}

.chat-container::after {
  content: "";
  clear: both;
  display: table;
}

.chat-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating-image {
  animation: rotate 2s linear infinite;
}
